@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: 0;
  list-style: 0;
  text-decoration: 0;
}

:root {
  --color-lime: #62eb31;
  --color-grey: #e4f2f4;
  --color-text: #4f4f4f;
  --color-burgerText: #aac1c4;
  --color-exp: #ecfdff;
}
